
.header__tittle_container .header__button{
    width: 300px;
    height: 60px;
    font-size: 1.8rem;
}
.main_currency_container-left{
    margin-left: 30rem;
    /* border: red solid 1px; */
}
.main_currency_container-right{
    margin-right: 30rem;
    /* border: blue solid 1px; */
}
.icon_separate_section{
    width: 8rem;
    height: 4rem;
    /* border: brown solid 1px; */
    background-size: contain;
    top: -2rem;
    left: calc(50% - 4rem);
}
.main__product-boxes{
    flex-direction: row;
    margin: 0 3rem;
    /* border: blue solid 2px; */
    flex-wrap: wrap;
    justify-content: space-around;
}

.main__product-boxes article{
    width: 50%;
    /* border:  solid red 1px; */
}
.main_background_picture h2{
    font-size: 4rem;
    width: 100%;
    top: 8rem;
}
.main__plans_container_cards{
    /* border: blue 1px solid; */
    justify-content: space-around;
}
.main__plans_cards{
    /* border: 1px solid red; */
    width: 27rem;
}
.main__plans_container-tittle h2{
    font-size: 3rem;
}

.footer__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: crimson solid 2px; */
}
.footer__container p{
    font-size: 2rem;    
    position: static;
    display: flex;
    justify-content: space-around;
}
.footer__container span{
    display: inline-block;
    width: 8rem;
    height: 4.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../Pics/logo_footer.svg);
    position: relative;
    top: -2rem;
    left: -10rem;
    /* border: blue solid 2px; */
}
.footer__container sub{
    position: relative;
    top: 0.5rem;
    left: calc(20% - 5rem);
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #FFE9D4;
    /* border: red solid 2px; */
    text-align: center;
}