:root{
    --border: 2px red solid;
    --Orange: #F7931A;
    --Soft-Orange: #FFE9D4;
    --Blue: #1A9AF7;
    --Soft-Blue: #E7F5FF;
    --Warm-Black: #201E1C;
    --Grey: #BABABA;
    --Off-White: #FAF8F7;
    --Just-White: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-width: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    /* border: red solid 1px; */
}
header img {
    width: 151px;
    height: 24px;
    align-self: center;
    margin-top: 4rem;
}
.header__tittle_container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;   
    height: 21.8rem;
    margin: auto;
    margin-top: 4rem;
}
.header__tittle_container h1 {
    color: var(--Just-White);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}
.header__tittle_container p {
    color: var(--Soft-Orange);
    margin-top: 30px;
    line-height: 1.8rem;
    font-weight: 500;
    font-size: 1.4rem;
}
.header__tittle_container .header__button{
    position: absolute;
    left: calc(50% - 229px/2);
    top: calc(100% - 48px/2);
    display: block;
    /* Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    padding: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    width: 229px;
    height: 48px;
    background: var(--Off-White);
    color: var(--Warm-Black);
    border-radius: 5px;
}
.header__button span{
    display: inline-block;
    width: 1.3rem;
    height: 0.9rem;
    background-image: url(../Pics/Icons/Vector.svg);
    /* border: 1px solid red; */
    margin-left:1rem;
}
main{
    width: 100vw;
    height: auto;
    min-width: 320px;
    background: var(--Off-White);
}
.main__exchange_container{
    width: 100vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    /* border: 1px solid red; */
}
.main__exchange_container_backgroundImg{
    background-image: url(../Pics/bitcoin.svg);
    width: 20rem;
    height: 20rem;
    margin: 4rem auto;
}
.main__exchange_container_tittle{
    width: 90vw;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    /* border: red solid 1px; */
}
.main__exchange_container_tittle h2{
    font-size: 2.4rem;
    line-height: 2rem;
    font-weight: bold;
}
.main__exchange_container_tittle p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
    margin: 2.5rem 0;
}
.main_currency_container .main_currency_tittle{
    font-size: 1.8rem;
    color: orange;
    margin-bottom: 1rem;
    margin-left: 8rem;
    position: relative;
    /* border: brown 1px solid; */
}

.main__tables{
    /* border: red solid 1px; */
    /* display: flex; */
    width: 100vw;
    height: auto;
    font-family: 'Inter', sans-serif;
}
.main_tables_container{
    width: 70vw;
    max-width: 250px;
    height: auto;
    /* border: solid blue 2px; */
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #B5B0AC;
    /* display: flex; */
    /* border-radius: 20px; */
}
table{
    width: 100%;
}
.main_tables_container td{
    width: 50%;
    height: auto;
    padding: 10px 12px 10px 12px;
    /* border: brown solid 1px; */
    background-color: #FFFFFF;
}
.table_top-left{
    border-radius: 15px 0 0 0px;
}
.table_top-right{
    border-radius: 0 15px 0 0;
}
.table__bottom-right{
    border-radius: 0 0 10px 0;
}
.table__bottom-left{
    border-radius: 0 0 0 15px;
}
.main_tables_container .down{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 0.8rem;
    background-image: url(../Pics/Icons/down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main_tables_container .up{
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: 0.8rem;
        background-image: url(../Pics/Icons/up.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
.main_tables_container .table__right{
    font-weight: 400;
    font-family: 1.4rem;
    color: #757575;
    text-align: center;
}

.main__exchange_container_botton{
    background: var(--Soft-Orange);
    width: 18rem;
    height: 3rem;
    margin: 2rem auto;
    border-radius: 8px;

}
.main__tables p{
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 0.8rem;
}
.main_currency_tittle-comission{
    font-size: 1.8rem;
    color: #1A9AF7;
    margin-bottom: 1rem;
    margin-left: 8rem;
    position: relative;
}
.main__exchange_container_botton-comission{
    background-color: var(--Soft-Blue);
    width: 18rem;
    height: 3rem;
    margin: 2rem auto;
    border-radius: 8px;
}
.icon_separate_section{
    position: relative;
    top: -1.6rem;
    left: calc(50% - 2.2rem);
    display: block;
    /* border: brown solid 1px; */
    width: 50px;
    height: 5rem;
    background-image: url(../Pics/logo_footer.svg);
    background-repeat: no-repeat;
}
.main__product{
    width: 100vw;
    height: auto;
    background-color: #201E1C;
    /* border: yellow solid 1px; */
}
.main__product_header{
    margin-top: 4rem;
    margin-bottom: 4rem;
    /* border: solid red 2px; */
}
.main__product_header h3{
    color: var(--Just-White);
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.6rem;
}
.main__product_header p{
    font-size: 1.4rem;
    color: #808080;
    line-height: 1.8rem;
    text-align: center;
    margin-top: 2.4rem;
    /* border: red solid 2px; */
}
.main__product-boxes{
    margin: 2rem;
}
.main__product-boxes article{
    margin-bottom: 2rem;
    /* border: solid red 1px; */
    background-color:#282623;
    padding: 0 1.5rem 2.5rem 1.6rem;
    border-radius: .8rem;
    max-width: 35rem;
}
.main__product-boxes span{
    display: inline-block;
    position: relative;
    top: 1.6rem;
    margin-bottom: 3rem;
    width: 2.4rem;
    height: 2.4rem;
}
.main__product-boxes .clock{
    background-repeat: no-repeat;
    background-image: url(../Pics/Icons/clock1.svg);
}
.main__product-boxes .eye{
    background-repeat: no-repeat;
    background-image: url(../Pics/Icons/eye1.svg);
}
.main__product-boxes .money{
    background-repeat: no-repeat;
    background-image: url(../Pics/Icons/dollar-sign.svg);
}
.main__product-boxes .circle-check{
    background-repeat: no-repeat;
    background-image: url(../Pics/Icons/check-circle.svg);
}
.main__product-boxes h3{
    color: var(--Just-White);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}
.main__product-boxes p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.main_background_picture{
    height: 30rem;
    width: 100vw;
    background-position: center;
    background-image: url(../Pics/Icons/bitcoinbaby1.svg);
    background-size: cover;
}