:root{
    --border: 2px red solid;
    --main-color: #4C2B86;
    --secondary-color: #723D90;
    --third-color: #61529E;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    background-color: black;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.logo{
    height: 5rem;
}
.nav-bar-items{
    display: flex;
    flex-wrap: wrap;
    /* border: blue 2spx solid; */
    justify-content: center;
}
.nav-bar-items a{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    /* border: var(--border) */
}
.nav-bar a:hover{
    background-color: white;
    color: var(--main-color);
}
.body{
    width: 100vw;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    position: relative;
    top: 1rem;
    border-radius: 20px;
    background-color: white;
    /* border: red solid 2px; */
}
.body-container-tittle{
    padding: 0.5rem;
    /* border: var(--border); */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-color);
    border-radius: 20px;
}
.body-tittle{
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 1px 5px black ;
    color: white;
    /* border: var(--border); */
}
.body-container-logo{
    /* border: var(--border); */
    margin: 0 auto;
    width: 100vw;;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0;
    padding: 1rem;
}
.body-logo{
    height: 30vw;
    width: 40vw;
    /* border: var(--border); */
}
.body-list{
    width: 60vw;
    /* border: blue solid 2px; */
    font-size: 1.4rem;
    list-style-position: inside;
    text-align: center;
}
.body-list li{
    position: relative;
    padding: 0.2rem;
}
#mid-body{
    /* border: aqua solid 5px; */
    width: 100vw;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 0rem;
}
.mid-body-container-text{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    position: relative;
    top: 1rem;
    height: 6rem;
}
.mid-body-container-text h3{
    font-size: 1.4rem;
    text-align: center;
    color: white;
    padding: 1rem;
}
.mid-body-container-logo img{
    width: 100vw;
}
.footer{
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 1rem;
}
.footer-container{
    background-color: var(--secondary-color);
    border-radius: 1rem;
    width: 100vw;
    height: 2.3rem;
}

.footer-container p{
    color: white;
    font-family: cursive;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

@media screen and (min-width:420px) {
    
    .body-container-tittle{
        align-items: center;
        height: 5rem;
    }
    .body-list {
        font-size: 1.6rem;
    }
    .body-tittle{
        font-size: 1.8rem;
    }
    .mid-body-container-logo{
        display: flex;
        justify-content: center;
    }
    .mid-body-container-logo img{
        width: 80vw;
    }
    
}