:root{
    --border: 2px red solid;
    --Orange: #F7931A;
    --Soft-Orange: #FFE9D4;
    --Blue: #1A9AF7;
    --Soft-Blue: #E7F5FF;
    --Warm-Black: #201E1C;
    --Grey: #BABABA;
    --Off-White: #FAF8F7;
    --Just-White: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    min-width: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    /* border: red solid 1px; */
}
header img {
    width: 151px;
    height: 24px;
    align-self: center;
    margin-top: 4rem;
}
.header__tittle_container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;   
    height: 21.8rem;
    margin: auto;
    margin-top: 4rem;
}
.header__tittle_container h1 {
    color: var(--Just-White);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
}
.header__tittle_container p {
    color: var(--Soft-Orange);
    margin-top: 30px;
    line-height: 1.8rem;
    font-weight: 500;
    font-size: 1.4rem;
}
.header__tittle_container .header__button{
    position: absolute;
    left: calc(50% - 229px/2);
    top: calc(100% - 48px/2);
    display: block;
    /* Sombra*/
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    padding: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    width: 229px;
    height: 48px;
    background: var(--Off-White);
    color: var(--Warm-Black);
    border-radius: 5px;
}
.header__button span{
    display: inline-block;
    width: 1.3rem;
    height: 0.9rem;
    background-image: url(../Pics/Icons/Vector.svg);
    /* border: 1px solid red; */
    margin-left:1rem;
}